<div style="padding-left:35px;padding-right:100px;">
  <div><strong>Features</strong></div>
  <div class="container">
    <div class="row">
      <div class="col">
        Call Forward No Reply
      </div>
      <div class="col-8">
          <div class="row">
              <div class="col">
                Provisioned
              </div>
              <div class="col">
                {{subscriber.features.callForwardNoReply.provisioned}}
              </div>
          </div>
          <div class="row">
            <div class="col">
                Destination
            </div>
            <div class="col">
              {{subscriber.features.callForwardNoReply.destination}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>